body {
    padding: 0;
    margin: 0;
    font-family: Palatino Linotype, Bookman Antiqua, Palatino, serif;
    font-size: 16px;
    line-height: 20px;
}

.slide {
    width: 95%;
    height: 95%;
    display: none;
    position: absolute;
    margin: 0;
    margin-left: 0.5%;

    padding: 1% 2% 1% 2%;
}

input, select, button {font-family: Georgia, serif; font-size: 14px;}

button {
    background: url(images/button-gradient.png);
    border: 1px solid #999;
    border-top: 1px solid #e0e0e0;
    border-left: 1px solid #e0e0e0;
    margin: 10px;
    padding-left: 5px;
    padding-right: 5px;
    height: 29px;
    min-width: 70px;
}

button2 {
    background: url(images/button-gradient.png);
    border: 1px solid #999;
    border-top: 1px solid #e0e0e0;
    border-left: 1px solid #e0e0e0;
    margin: 40px;
    padding-left: 5px;
    padding-right: 5px;
    height: 29px;
    min-width: 70px;
}

button:active {
    border-left: 1px solid #c9c9c9;
    border-top: 1px solid #c9c9c9;
    background: none;
    background-color: #c9c9c9;
}


#logo-text {
    font-weight: bold;
}

#leftbook1 {
    width: 90px;
    height: auto;
}

#leftbook2 {
    width: 90px;
    height: auto;
}
#leftbook3 {
    width: 90px;
    height: auto;
}
#leftbook4 {
    width: 90px;
    height: auto;
}
#centerbook1 {
    width: 90px;
    height: auto;
}
#centerbook2 {
    width: 90px;
    height: auto;
}
#centerbook3 {
    width: 90px;
    height: auto;
}
#centerbook4 {
    width: 90px;
    height: auto;
}
#rightbook1 {
    width: 90px;
    height: auto;
}
#rightbook2 {
    width: 90px;
    height: auto;
}
#rightbook3 {
    width: 90px;
    height: auto;
}
#rightbook4 {
    width: 90px;
    height: auto;
}

#leftbook {
    position: absolute;
    display:inline;
    left: 30px;
    top: 115px;
}

#centerbook {
    position: absolute;
    display:inline;
    left: 380px;
    top: 115px;
}

#rightbook {
    position: absolute;
    display:inline;
    left:739px;
    top: 109px;
}

#leftbookpractice {
    position: absolute;
    width: 200px;
    height: auto;
    left: 40px;
    top: 120px;
}
#centerbookpractice {
    position: absolute;
    width: 200px;
    height: auto;
    left: 380px;
    top: 120px;
}
#rightbookpractice {
    position: absolute;
    width: 200px;
    heigh: auto;
    left: 740px;
    top: 120px;
}

#objects {
    background-image: url('images/background.png');
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 960px auto;
}

#practice {
    background-image: url('images/background.png');
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 960px auto;

}

#continue {
    position: absolute;
    width: 100px;
    height: auto;
    left: 450px;
    top: 520px;
}
#continue1 {
    position: absolute;
    width: 100px;
    height: auto;
    left: 450px;
    top: 520px;
}

.test {
    height: 871px;
    width: 1164px;
}

#practice_correct {
    position: absolute;
    width: auto;
    height: 340px;
    left: 340px;
    top: 40px;
}

#left_correct {
    position: absolute;
    display: inline;
    width: auto;
    height: 340px;
    left: 1px;
    top: 40px;
}

#center_correct {
    position: absolute;
    display: inline;
    width: auto;
    height: 340px;
    left: 340px;
    top: 40px;
}

#right_correct {
    position: absolute;
    display: inline;
    width: auto;
    height: 340px;
    left: 695px;
    top: 40px;
}

#friendbutton {
    position: absolute;
    width: 100px;
    height: auto;
    left: 10px;
    top: 520px;
}

