body {
    padding: 0;
    margin: 0;
    font-family: Palatino Linotype, Bookman Antiqua, Palatino, serif;
    font-size: 16px;
    line-height: 20px;
}

.slide {
    width: 95%;
    height: 95%;
    display: none;
    position: absolute;
    margin: 0;
    margin-left: 0.5%;

    padding: 1% 2% 1% 2%;
}

input, select, button {font-family: Georgia, serif; font-size: 14px;}

button {
    background: url(images/button-gradient.png);
    border: 1px solid #999;
    border-top: 1px solid #e0e0e0;
    border-left: 1px solid #e0e0e0;
    margin: 10px;
    padding-left: 5px;
    padding-right: 5px;
    height: 29px;
    min-width: 70px;
}

button2 {
    background: url(images/button-gradient.png);
    border: 1px solid #999;
    border-top: 1px solid #e0e0e0;
    border-left: 1px solid #e0e0e0;
    margin: 40px;
    padding-left: 5px;
    padding-right: 5px;
    height: 29px;
    min-width: 70px;
}

button:active {
    border-left: 1px solid #c9c9c9;
    border-top: 1px solid #c9c9c9;
    background: none;
    background-color: #c9c9c9;
}


#logo-text {
    font-weight: bold;
}

#leftbook1 {
    width: 85px;
    height: auto;
}

#leftbook2 {
    width: 85px;
    height: auto;
}
#leftbook3 {
    width: 85px;
    height: auto;
}
#leftbook4 {
    width: 85px;
    height: auto;
}
#centerbook1 {
    width: 85px;
    height: auto;
}
#centerbook2 {
    width: 85px;
    height: auto;
}
#centerbook3 {
    width: 85px;
    height: auto;
}
#centerbook4 {
    width: 85px;
    height: auto;
}
#rightbook1 {
    width: 85px;
    height: auto;
}
#rightbook2 {
    width: 85px;
    height: auto;
}
#rightbook3 {
    width: 85px;
    height: auto;
}
#rightbook4 {
    width: 85px;
    height: auto;
}

#leftbook {
    position: absolute;
    display:inline;
    left: 30px;
    top: 155px;

}

#centerbook {
    position: absolute;
    display:inline;
    left: 485px;
    top: 155px;

}

#rightbook {
    position: absolute;
    display:inline;
    left: 940px;
    top: 155px;
}


#objects {
    background-image: url('images/background.png');
    background-repeat: no-repeat;
    background-position: right top;
}

.test {
    height: 871px;
    width: 1164px;
}